@import url(//db.onlinewebfonts.com/c/9b06ae83a4412168ed194a8ed31218c2?family=Mabry+Pro+Medium);
@font-face {
  font-family: "Mabry Pro Medium";
  src: url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.eot");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Mabry Pro Medium", sans-serif;
}

header {
  position: sticky;
  width: 100%;
  padding-top: 2px;
  z-index: 1;
  background-color: white;
  top: 0px;
  left: 0px;
  margin-top: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.services ul,
.login ul {
  display: flex;
  list-style: none;
  margin-top: 0.2rem;
}
.navbar div ul li a {
  margin: 0.4rem;
}
.services ul li a {
  color: #555;
  font-weight: bold;
}
.services ul li a:hover {
  color: rgb(236, 97, 168);
}
.services ul li {
  margin: 1rem;
}
#signin {
  color: #382383;
  margin-right: 2rem;
  font-weight: bold;
}
#get {
  background-color: #382383;
  color: white;
  border-radius: 10px;
  padding: 1rem 2.5rem;
}
.navbar .logo {
  margin-left: 30px;
}

.maincontent {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin: 70px 30px;
  margin-top: 50px;
}
.bigtext {
  width: 500px;
  margin-top: 50px;
  margin-left: 10px;
}
.bigtext h1 {
  font-size: 63px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #215;
  font-weight: 800;
}
.bigtext h3 {
  color: #555;
  font-size: 15px;
  font-weight: 450;
}
#join {
  background-color: #382383;
  color: white;
  border-radius: 10px;
  padding: 1rem 2.5rem;
}
.bigtext h3 {
  margin-top: 20px;
}
.bigtext p {
  margin-top: 60px;
}
#get:hover {
  background-color: rgb(99, 216, 147);
}
#join:hover {
  background-color: rgb(99, 216, 147);
}

.services {
  display: relative;
}
.dropdownContent {
  padding-top:4rem;
  display: none;
  background-color: white;
  right: 20px;
  position: absolute;
  justify-content: space-evenly;
  top: 73px;
  left: 0px;
  width: 100%;
}

.dropdownContent h2 {
  color: #382383;
  font-size: 30px;
  padding: 3px;
  padding-bottom: 10px;
}
.dropdownContent p{
  color: #55535E;
}
.dropdownContent .nav-card img{
  margin-left: .5rem ;
}

#resource:hover .dropdownContent,
#company:hover .dropdownContent,
#product:hover .dropdownContent {
  display: flex;
}
.productContent div,
.resourcesContent div,
.companyContent div {
  margin: 20px;
  width: 20vw;
  text-align: left;
}
.productContent {
  padding-bottom: 10px;
}
.companyContent {
  justify-content: flex-start;
  padding-left: 3rem;
}

.services ul li a {
  color: black;
  padding-bottom: 25px;
}

.nav-image {
  width: 27px;
  height: 28px;
}

.download {
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: small;
  color: darkslategray;
}
.download a {
  color: rgb(236, 97, 168);
}

header .navbar .services .prod .arrow {
    height: 100%;
    width: 22px;
    line-height: 51px;
    text-align: center;
    color: rgb(76,74,85);
    transition: all 0.3s ease;

}
.navbar .services .prod  li:hover .htmlcss-arrow {
    transform: rotate(180deg);
}
@media only screen and (max-width: 1020px) {
  html{
      font-size: 14px;
  }
  .logo{
    max-width: 6.80rem;
    min-height: 2.75rem;
    z-index: ;
}
.services{
  display: none;
}
.login{
  padding: 0rem 2.7rem;
  min-height: 3.5rem;
  height: 100%;
  font-size: 1rem;
}
.login #signin{
  display: none;
}
.login #get{
  padding: 0.45rem 4.5rem;
        font-size: 1.15rem;
}
.navbar{
  padding-right: 4rem;
        padding-left: 4rem;
}
.maincontent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 5rem;
}
.bigtext h1{
  font-size: 3.8rem;
        display: flex;
        max-width:760.41px;
        width: 100%;
        justify-content: center;
}
.bigtext{
  max-width: 55rem;
        width: 100%;
        min-height: min-content;
        margin-bottom: 5rem;
}
h3{
  display: none;
}
#crypt{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 3.43rem;
}

}



